<ion-view view-title="Home" hide-nav-bar="true">

  <ion-content>

    <div class="img-cover fixed z-lo">
     	<img src="img/animated-bg.gif">
	</div>

	<div class="relative z-hi text-center p10 pt50 ml30 mr30 pb40">
		<h1 class="fw300 m0 light">Welcome</h1>
    <img src="img/icon.png" width=35%">
    <h4 class="fw300 m0 light">RingRing</h4>
		<div class="list list-inset mt120">
          <label class="item item-input input-transparent">
              <input type="text" placeholder="Username" ng-model="username">
          </label>
          <label class="item item-input input-transparent mt10">
              <input type="password" placeholder="Password" ng-model="password">
          </label>
      </div>
      <div class="p10">
        <button class="button button-block button-energized up" ng-click="start()">Login</button>
        <p class="light mt30">For the first time here?</p>
        <a class="button button-outline button-block button-light up" href="#/app/register">Register</a>
      </div>
	</div>


  </ion-content>
</ion-view>
