<ion-view view-title="Generate">
  <ion-content class="bg-light text-center p20">


  <img src="img/icon.png" width="90">

  <h3 class="dark fw300 m0">BUILD YOUR QR</h3>

  <div class="card pb30">
    <div class="item item-divider bg-light"><iframe src="http://7appsionic.byethost5.com/ringring/create.html" width="100%" height="430"><img src="img/icon.png" width="70%"><p><br><label class="item item-input input-transparent">
                  <input type="text" placeholder="Enter Phone No:" ng-model="username">
              </label>
              </div>

    <ul class="list">
      <li class="list-item">
        <a class="button button-energized up" ng-click="ng-click="start()">GENERATE QR NOW</a>
      </li>
    </ul>
  </div>

  <div class="he50"></div>

  </ion-content>
</ion-view>
