<ion-view view-title="SCAN YOUR QR">
  <ion-content class="bg-light text-center p20">

  <h3 class="dark fw300 m0">RingRing</h3>
  <p class="dark fw900 mb20 up">carefully scan your qr</p>

<div class="card pb30">
    <div class="item item-divider bg-light">
      <img src="img/qr.png">
      <h2 class="fw300 m0 p10 pt20 text-left"></h2>
    </div>
    <ul class="list">
      <li class="list-item">
        <a class="button button-energized up" ng-click="showBarcode()">Show QR Scanner</a>
      </li>
    </ul>
  </div>
  <div class="he50"></div>

  </ion-content>
</ion-view>
